In [1]:
import warnings
warnings.filterwarnings("ignore")
import dbutils
import time
import pandas as pd
from IPython.display import display
import numpy as np
last_check = 0

In [16]:
main_connector = dbutils.connect_to_main_database()

[WHH] Provide pointers to cleaner dataset  
sql_statement = """
    SELECT 
        qr_code, 
        artifact_id, 
        REPLACE(artifact_path, '/whhdata', '/localssd/anondata/qrcode'),
        type, 
        age, 
        height, 
        weight, 
        muac, 
        head_circumference, 
        status 
    FROM artifacts_with_targets 
    WHERE type='pcd'
    AND status='standing';
    """
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

31728 [('MP_WHH_1472', 'pc_MP_WHH_1472_1543999951917_107_020.pcd', '/localssd/anondata/qrcode/qrcode/MP_WHH_1472/measurements/1543999951917/pc/pc_MP_WHH_1472_1543999951917_107_020.pcd', 'pcd', 1031, 81.9, 9.45, 12.9, 45.3, 'standing'), ('MP_WHH_1472', 'pc_MP_WHH_1472_1543999951917_104_007.pcd', '/localssd/anondata/qrcode/qrcode/MP_WHH_1472/measurements/1543999951917/pc/pc_MP_WHH_1472_1543999951917_104_007.pcd', 'pcd', 1031, 81.9, 9.45, 12.9, 45.3, 'standing')]

In [14]:
!ls /localssd/anondata/qrcode-new/MP_WHH_2510/measurements/1540360822453/pc

pc_MP_WHH_2510_1540360822453_104_000.pcd
pc_MP_WHH_2510_1540360822453_104_001.pcd
pc_MP_WHH_2510_1540360822453_104_002.pcd
pc_MP_WHH_2510_1540360822453_104_003.pcd
pc_MP_WHH_2510_1540360822453_107_004.pcd
pc_MP_WHH_2510_1540360822453_107_005.pcd
pc_MP_WHH_2510_1540360822453_107_006.pcd
pc_MP_WHH_2510_1540360822453_107_007.pcd
pc_MP_WHH_2510_1540360822453_110_008.pcd
pc_MP_WHH_2510_1540360822453_110_009.pcd

In [96]:
sql_statement = """
CREATE TABLE IF NOT EXISTS artifact_result (
    PRIMARY KEY(artifact_id, model_name, target_key),
    model_name TEXT NOT NULL,
    target_key TEXT NOT NULL,
    value REAL NOT NULL,
    artifact_id VARCHAR(255) REFERENCES artifact(id)
);
"""

#result = main_connector.execute(sql_statement)
#print(result)

None

In [97]:
sql_statement = """
SELECT a.path, ABS(ar.value - m.height) AS loss 
  FROM artifact_result ar
  INNER JOIN artifact a ON ar.artifact_id=a.id
  INNER JOIN measure m ON a.measure_id=m.id
  INNER JOIN measure_quality mq ON mq.measure_id=m.id
  WHERE ar.target_key='height'
  AND ar.model_name ='20190913-1807_220-55height'
  AND m.type='manual'
--  AND ABS(ar.value - m.height) < 1.0
  AND mq.key='expert_status'
  AND mq.text_value='standing'
  ORDER BY loss
;
"""

result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result))
mean_loss = np.mean([x[1] for x in result])
print("MAE", mean_loss)
for x in result[0:10]:
    print(x)

11852
MAE 2.1382949540326273
('/whhdata/qrcode/MP_WHH_2090/measurements/1545203433321/pc/pc_MP_WHH_2090_1545203433321_107_017.pcd', 9.15527e-05)
('/whhdata/qrcode/RJ_WHH_2408/measurements/1546589285943/pc/pc_RJ_WHH_2408_1546589285943_110_036.pcd', 0.000106812)
('/whhdata/qrcode/RJ_WHH_1360/measurements/1543398649988/pc/pc_RJ_WHH_1360_1543398649988_110_038.pcd', 0.000442505)
('/whhdata/qrcode/RJ_WHH_2030/measurements/1544084080847/pc/pc_RJ_WHH_2030_1544084080847_110_046.pcd', 0.000602722)
('/whhdata/qrcode/RJ_WHH_2836/measurements/1541673404916/pc/pc_RJ_WHH_2836_1541673404916_110_028.pcd', 0.000976563)
('/whhdata/qrcode/MP_WHH_1056/measurements/1542608690637/pc/pc_MP_WHH_1056_1542608690637_107_020.pcd', 0.00139618)
('/whhdata/qrcode/MP_WHH_1435/measurements/1543821979649/pc/pc_MP_WHH_1435_1543821979649_107_024.pcd', 0.00151825)
('/whhdata/qrcode/SAM-GOV-050/measurements/1531380435249/pc/pc_SAM-GOV-050_1531380435249_107_017.pcd', 0.00219727)
('/whhdata/qrcode/RJ_WHH_3439/measurements/1542620553382/pc/pc_RJ_WHH_3439_1542620553382_107_019.pcd', 0.00278473)
('/whhdata/qrcode/MP_WHH_0006/measurements/1538377853711/pc/pc_MP_WHH_0006_1538377853711_104_005.pcd', 0.00294495)

In [99]:
sql_statement = "SELECT COUNT(*) FROM artifact;"
artifacts = main_connector.execute(sql_statement, fetch_one=True)[0]

sql_statement = "SELECT COUNT(*) FROM artifact_result;"
artifact_results = main_connector.execute(sql_statement, fetch_one=True)[0]

print(artifact_results, artifacts)
print(100 * artifact_results / artifacts)

125751 1104760
11.382653245953872

In [93]:
sql_statement = "SELECT DISTINCT(model_name) FROM artifact_result;"
result = main_connector.execute(sql_statement, fetch_one=True)[0]
print(result)

20190913-1807_220-55height

In [2]:
main_connector = dbutils.connect_to_main_database()
sql_statement = "SELECT height FROM measure m INNER JOIN person p on m.person_id=p.id WHERE qr_code='SAM-GOV-030' AND m.type='manual' ORDER BY m.timestamp;"
result = main_connector.execute(sql_statement, fetch_all=True)
result = [r[0] for r in result]
print(result)

[79.0, 79.2, 81.2]

In [3]:
main_connector = dbutils.connect_to_main_database()
sql_statement = "SELECT DISTINCT(type) FROM artifact_quality WHERE type='20190708-0919_2379-595height';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result)

[('20190708-0919_2379-595height',)]

In [4]:
main_connector = dbutils.connect_to_main_database()
sql_statement = "SELECT DISTINCT(type) FROM artifact_quality;"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result)

[('20190806-1551_220-55height',), ('20190718-2123_2550-638weight',), ('20190708-0919_2379-595height',), ('rgb',), ('20190723-1119_2550-638weight',), ('pcd',)]

In [6]:
main_connector = dbutils.connect_to_main_database()
sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE type='20190708-0919_2379-595height';"
result = main_connector.execute(sql_statement, fetch_one=True)[0]
print(last_check, result, "PCDs in artifact_quality")

if last_check != result:
    print("Change")
else:
    print("No change")
last_check = result

0 132565 PCDs in artifact_quality
Change

In [7]:
main_connector = dbutils.connect_to_main_database()
sql_statement = "SELECT COUNT(*) FROM artifact WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result, "PCDs in artifact")

[(223249,)] PCDs in artifact

# Scan level MAEs.

In [8]:
main_connector = dbutils.connect_to_main_database()

sql_statement = ""
sql_statement += "SELECT COUNT(DISTINCT p.qr_code) FROM person p;"

result = main_connector.execute(sql_statement, fetch_one=True)[0]
print("Found {} qr-codes.".format(result))

Found 6859 qr-codes.

In [13]:
# Select all QR-code-create-date pairs. Those are scans.
sql_statement = ""
sql_statement += "SELECT DISTINCT p.qr_code, m.timestamp, m.id as measure_id"
sql_statement += " FROM measure m"
sql_statement += " INNER JOIN person p on m.person_id=p.id"
sql_statement += " WHERE m.type='manual'"
sql_statement += ";"

start = time.time()
scans = main_connector.execute(sql_statement, fetch_all=True)
end = time.time()
print(end - start)

print("Found {} manual scans".format(len(scans)))
#print(scans[200:300])



sql_statement = ""
sql_statement += "SELECT COUNT(*)"
sql_statement += " FROM artifact"
sql_statement += " WHERE type='pcrgb'"
sql_statement += ";"

scans = main_connector.execute(sql_statement, fetch_all=True)
print ("number of fused scans: " + str(scans))

sql_statement = ""
sql_statement += "SELECT COUNT(*)"
sql_statement += " FROM artifact"
sql_statement += " WHERE type='pcd'"
sql_statement += ";"

scans = main_connector.execute(sql_statement, fetch_all=True)
print ("number of pcd scans: " + str(scans))

1.8696751594543457
Found 7028 manual scans
number of fused scans: [(137949,)]
number of pcd scans: [(223249,)]

In [50]:
model = "20190708-0919_2379-595height"

for scan in scans[200:201]:
    qr_code = pair[0]
    create_date = pair[1]
    print(qr_code, create_date)
    
    sql_statement = ""
    sql_statement += "SELECT SUM(aq.value) "
    sql_statement += " FROM artifact_quality aq"
    sql_statement += " INNER JOIN artifact a ON a.id = aq.artifact_id"
    sql_statement += " WHERE aq.key='mae'"
    sql_statement += " AND aq.type='{}'".format(model)
    sql_statement += " AND a.qr_code='{}'".format(qr_code)
    sql_statement += " AND a.create_date='{}'".format(create_date)
    sql_statement += ";"

    start = time.time()
    result = main_connector.execute(sql_statement, fetch_all=True)
    end = time.time()
    print(end - start)

MH_WHH_0077 1538717985089
9.917351961135864
9.407123565673828

In [51]:
6697 * 10 / (60 * 60)

18.602777777777778

In [25]:
print(qr_codes[0])
for qr_code in qr_codes[0:10]:
    qr_code = qr_code[0]
    
    # Get all create dates for that qr-code.
    sql_statement = ""
    sql_statement += "SELECT DISTINCT(a.create_date) FROM artifact a"
    sql_statement += " WHERE a.qr_code='{}'".format(qr_code)
    sql_statement += ";"
    
    start = time.time()
    create_dates = main_connector.execute(sql_statement, fetch_all=True)
    for create_date in create_dates:
        create_date = create_dates[0]
        print(r)
    end = time.time()
    print(end - start)
    break

('MH_WHH_0187',)
(1537851618537,)
11.59768009185791

In [22]:
#SELECT a.qr_code, AVG(aq.value) 
#FROM artifact_quality as aq
#INNER JOIN artifact as a
#  ON a.artifact_id = aq.artifact_id
#WHERE aq.key='mae'
#AND aq.type='20190708-0919_2379-595height'
#GROUP BY a.qr_code, a.create_date;

#main_connector = dbutils.connect_to_main_database()

model_name = "20190708-0919_2379-595height"

sql_statement = ""
sql_statement += "SELECT a.qr_code, a.create_date, AVG(aq.value) FROM artifact_quality aq"
sql_statement += " INNER JOIN artifact a ON a.id = aq.artifact_id"
sql_statement += " WHERE aq.key='mae'"
sql_statement += " AND aq.type='{}'".format(model_name)
sql_statement += " GROUP BY a.qr_code, a.create_date"
sql_statement += ";"

print(sql_statement)

start = time.time()
result = main_connector.execute(sql_statement, fetch_all=True)
end = time.time()
print(end - start)


print(len(result), "results")

#last_check = len(result)
rows = []
for r in result[0:10]:
    qr_code = r[0]
    create_date = r[1]
    mae = r[2]
    row = (qr_code, create_date, mae)
    print(row)
    rows.append(row)
    
columns = ["QR-Code", "Timestamp", "MAE"]

df = pd.DataFrame(rows, columns=columns)
display(df)

SELECT a.qr_code, a.create_date, AVG(aq.value) FROM artifact_quality aq INNER JOIN artifact a ON a.id = aq.artifact_id WHERE aq.key='mae' AND aq.type='20190708-0919_2379-595height' GROUP BY a.qr_code, a.create_date;
5.318471670150757
4063 results
('MH_WHH_0001', 1536913319075, 8.64329643249512)
('MH_WHH_0002', 1536910804577, 0.409949730182516)
('MH_WHH_0003', 1536913710517, 15.8390997524919)
('MH_WHH_0007', 1537269381827, 9.00559854507446)
('MH_WHH_0007', 1537269534213, 9.87686772500315)
('MH_WHH_0010', 1537166990387, 10.1984226829127)
('MH_WHH_0010', 1537167038624, 9.68606387867647)
('MH_WHH_0011', 1537174095389, 1.1296624077691)
('MH_WHH_0012', 1536921402623, 8.35233191287879)
('MH_WHH_0013', 1537346511739, 5.59329244252798)

       QR-Code      Timestamp        MAE
0  MH_WHH_0001  1536913319075   8.643296
1  MH_WHH_0002  1536910804577   0.409950
2  MH_WHH_0003  1536913710517  15.839100
3  MH_WHH_0007  1537269381827   9.005599
4  MH_WHH_0007  1537269534213   9.876868
5  MH_WHH_0010  1537166990387  10.198423
6  MH_WHH_0010  1537167038624   9.686064
7  MH_WHH_0011  1537174095389   1.129662
8  MH_WHH_0012  1536921402623   8.352332
9  MH_WHH_0013  1537346511739   5.593292

In [ ]:

sql_statement = "SELECT * FROM artifacts_with_targets WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

In [ ]:
sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE key='number_of_points';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

In [ ]:
sql_statement = "SELECT COUNT(*) FROM artifact_quality;"
result = main_connector.execute(sql_statement, fetch_all=True)
print(result)

In [ ]:
sql_statement = "SELECT COUNT(*) FROM artifact WHERE path LIKE '%scantimestamp%';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

sql_statement = "SELECT COUNT(*) FROM artifact WHERE path LIKE '% %';"
print(sql_statement)
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

sql_statement = "SELECT COUNT(*) FROM artifact WHERE path NOT LIKE '%scantimestamp%';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result)

In [ ]:
sql_statement = "SELECT id, tango_timestamp FROM artifact WHERE tango_timestamp = ROUND(tango_timestamp) AND type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

sql_statement = "SELECT id, tango_timestamp FROM artifact WHERE tango_timestamp != ROUND(tango_timestamp) AND type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)
print(len(result), result[0:2])

#for r in result[0:10]:
#    print(r[0], r[1])

In [ ]:
sql_statement = "SELECT id, tango_timestamp FROM artifact;"
result = main_connector.execute(sql_statement, fetch_all=True)
result = result[:100]
print(result[0:2])
for r in result:
    print(r[0], r[1])

In [ ]:
sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE key='confidence_avg';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "artifact quality KPIs")

sql_statement = "SELECT MIN(value) FROM artifact_quality WHERE key='number_of_points';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "artifact quality KPIs")

In [ ]:
main_connector = dbutils.connect_to_main_database()

sql_statement = "SELECT COUNT(*) FROM artifact_quality;"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "entries in artifact_quality")

sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE value=0.0;"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "entries in artifact_quality where value is 0.0")

sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE key='confidence_avg';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "entries in artifact_quality with key confidence_avg")

sql_statement = "SELECT COUNT(*) FROM artifact_quality WHERE key='number_of_points';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "entries in artifact_quality with key number_of_points")

sql_statement = "SELECT COUNT(DISTINCT(artifact_id)) FROM artifact_quality;"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "distinct artifact_ids in artifact_quality")

sql_statement = "SELECT COUNT(*) FROM artifact WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "PCDs in artifacts")

sql_statement = "SELECT COUNT(*) FROM artifacts_with_targets WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "PCDs in artifacts_with_targets")

In [ ]:
#sql_statement = "DELETE FROM artifact_quality WHERE value=0.0;"
#result = main_connector.execute(sql_statement, fetch_all=True)[0][0]

In [ ]:
sql_statement = "SELECT COUNT(*) FROM artifacts_with_targets WHERE type='pcd';"
result = main_connector.execute(sql_statement, fetch_all=True)[0][0]
print(result, "PCDs in artifacts_with_targets")